////////////////////////////////
// AWS Connection

aws_region="us-west-2"

aws_profile="default"

aws_credentials_file="~/.aws/credentials"

aws_key_pair_file = "~/.ssh/id_rs"

aws_key_pair_name = ""

origin = ""

////////////////////////////////
// Object Tags

tag_customer=""

tag_project=""

tag_name=""

tag_dept=""

tag_contact="myemail@chef.io"

tag_application=""

////////////////////////////////
// Automate Config

automate_hostname="yourname-a2.chef-demo.com"
automate_license = <YOUR AUTOMATE LICENSE>

// NOTE: If you have an acm cert and r53 managed hosted zone, you
// can use chef_automate_alb.tf.example to build out an ALB with SSL
// and DNS via R53.
// ** You do not need to set custom ssl key and chain in this scenario **

automate_alb_acm_matcher = "*.chef-demo.com"
automate_alb_r53_matcher = "chef-demo.com."