origin = "scottford"

aws_profile = "chefsa"

aws_key_pair_file = "~/.ssh/scottford"

aws_key_pair_name = "scottford"

tag_customer = "testing"

tag_project = "hab_demos"

tag_name = "scottford"

tag_dept = "sales"

tag_contact = "sford@chef.io"

tag_application = "national_parks"

count = "1"

event-stream-enabled = "false"

automate_url = "https://myurl"

automate_hostname = "myhostname"

automate_ip = "myip"

automate_token = "mytoken"

automate_user = "admin"

# Event stream requires minimum hab-sup 0.83.0
# Until this is promoted to stable, uncomment if using EAS dashboards.
# hab-sup-version = "core/hab-sup/0.83.0-dev -c unstable"